In [16]:
import numpy as np
import matplotlib.pyplot as plt

<h1>МОЙ 12 вариант</h1>

In [98]:
my = [1, 8, 20, 28, 20, 7, 14, 2]
mx = [8, 16, 18, 30, 18, 10] 
x = [10,13,16,19,22,25]
y = [110, 130, 150, 170, 190, 210, 230, 250]
mij = [[1, 3, 4, 0, 0, 0, 0, 0], [0, 5, 6, 5, 0, 0, 0, 0], [0, 0, 4, 8, 6, 0, 0, 0], 
[0, 0, 6, 15, 9, 0, 0, 0], [0, 0, 0, 0, 5, 6, 7, 0], [0, 0, 0, 0, 0, 1, 7, 2]]
n = 100

<h1>ПРИМЕР</h1>

In [94]:
my = [2, 4, 9, 24, 26, 19, 11, 5]
mx = [23, 25, 26, 13, 8, 5] 
x = [60, 90, 120, 150, 180, 210]
y = [4.5, 6, 7.5, 9, 10.5, 12, 13.5, 15]
mij = [[2, 4, 3, 10, 4, 0, 0, 0], [0, 0, 6, 14, 5, 0, 0, 0],
[0, 0, 0, 0, 17, 5, 4, 0], [0, 0, 0, 0, 0, 8, 3, 2], [0, 0, 0, 0, 0, 4, 3, 1], [0, 0, 0, 0, 0, 2, 1, 2]]

In [14]:
np.sum(mx)

100

In [48]:
sumx = 0
sumy = 0
for i in range(len(x)):
   sumx+=(mx[i]*x[i])
   print(f"{mx[i]}: {mx[i]*x[i]}")
print("\n")
for i in range(len(y)):
   sumy+=(my[i]*y[i])
   print(f"{my[i]}: {my[i]*y[i]}")

print(sumx, sumy)

8: 80
16: 208
18: 288
30: 570
18: 396
10: 250


1: 110
8: 1040
20: 3000
28: 4760
20: 3800
7: 1470
14: 3220
2: 500
1792 17900

In [41]:
ans = 0
for i in range(6):
   tmp = 0
   for j in range(8):
      tmp+=mij[i][j]*y[j]
   ans+=(x[i]*tmp)
print(ans)

331880

In [42]:
ans = 0
for i in range(6):
   ans+=(mx[i]*(x[i]**2))
print(ans)
ans = 0

for j in range(8):
   ans+=(my[j]*(y[j]**2))
print(ans)

33904
3302800

In [44]:
(3302800-(17900**2)/100)/99

996.969696969697

In [55]:
ans = 0
for j in range(8):
      tmp = 0
      for i in range(6):
            tmp+=mij[i][j]*x[i]
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 10
1: 95
2: 296
3: 478
4: 377
5: 157
6: 329
7: 50

1792

In [69]:
ans = 0
for i in range(6):
      tmp = 0
      for j in range(8):
            tmp+=mij[i][j]*y[j]
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 1100
1: 2400
2: 3100
3: 5160
4: 3820
5: 2320

17900

In [80]:
ans = 0
for i in range(6):
      tmp = 0
      tmp+=((x[i]**2)*mx[i])
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 800
1: 2704
2: 4608
3: 10830
4: 8712
5: 6250

33904

In [85]:
ans = 0
for j in range(8):
      tmp = 0
      tmp+=((y[j]**2)*my[j])
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 12100
1: 135200
2: 450000
3: 809200
4: 722000
5: 308700
6: 740600
7: 125000

3302800

In [96]:
ans = 0
for j in range(8):
      tmp = 0
      for i in range(6):
            tmp+=mij[i][j]*x[i]
      tmp*=y[j]
      ans+=tmp
      print(f"{j}: {tmp}")
ans

0: 540.0
1: 1440
2: 5400.0
3: 16740
4: 28665.0
5: 35280
6: 22680.0
7: 13500

124245.0

In [99]:
ans = 0
for i in range(6):
      tmp = 0
      for j in range(8):
            tmp+=mij[i][j]*y[j]
      tmp*=x[i]
      ans+=tmp
      print(f"{i}: {tmp}")
ans

0: 11000
1: 31200
2: 49600
3: 98040
4: 84040
5: 58000

331880

In [103]:
112.24/(4.25*31.57)

0.8365350574819727